body {
	background: #fff;
	color: #000;
	font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	padding: 0;
	-webkit-text-size-adjust: none;
}
.hidden	{
	display: none;
}

.results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.data	{
	width:  200px;
	height: 200px;
}

.data p {
	text-align: center;
	margin: 10px 0 5px 0;
	font-family: sans-serif;
}

.data img {
	margin: 0px 50px;
}

.type	{
	font-size: 12px;
	color: grey;
}
